PORT=5800
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=edusmart

AI_MODE=real
AI_API_URL=https://spark-api-open.xf-yun.com/v1/chat/completions
AI_MODEL=Pro-128K
AI_API_KEY=trYlislpXwXSaKlGlcRw:PqkAZZSaUQCYiUCoJzXJ